{% extends "layouts/default.html" %}
{% block content %}

  <div class="py-10 space-y-10">
	<header>
	  <div class="flex justify-center">
	  <div class="mx-auto max-w-7xl">
	    <h1 class="text-center text-3xl font-bold leading-tight tracking-tight text-gray-900">웨어러블 디바이스 성능평가 시스템</h1>
	    <div class="col-lg-6 mx-auto">
	      <p class="text-center lead mb-4">웨어러블 디바이스의 사용성 평가 소개</p>
        <img class="mx-auto" src="https://i.imgur.com/nYA6oUS.png" width=100>
	    </div>	
	  </div>
	  </div>
	</header>
	<main>
	  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">

      첫 페이지

    </div>
	</main>
</div>

<a href="/novpn/vnc.html?path=novpn/websockify?resize=remote&autoconnect=true">VNC</a>

{% endblock %}
