{% extends "layouts/default.html" %}
<!-- header -->
{% block header %}
<header>
  <div class="flex justify-center">
    <div class="mx-auto max-w-7xl">
      <h1
        class="text-center text-3xl font-bold leading-tight tracking-tight text-gray-900"
      >
        웨어러블 디바이스 성능 평가 시스템
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="text-center lead mb-4">
          웨어러블 디바이스의 성능 평가 시스템 소개
        </p>
        <img
          class="mx-auto"
          src="https://i.imgur.com/nYA6oUS.png"
          width="100"
        />
      </div>
    </div>
  </div>
</header>
{% endblock %}

<!-- content -->
{% block content %}
<main>
  <div class="py-10 space-y-10">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <pre>
TODO: 평가 시스템 첫페이지: '시스템 소개' '평가 시작하기' 버튼 넣기

로봇기술이 발전하면서, 신체에 착용하는 방식의 웨어러블 디바이스의 중요성이 부각되고 있습니다.
이에 따라, 성능을 객관적이고 체계적으로 평가하기 위한 성능 평가 시스템의 필요성이 커졌습니다.

본 성능 평가 시스템은 웨어러블 디바이스의 주요 평가 항목을 착용성, 상호작용성, 그리고 사용성으로 구축되었습니다.

- 착용성(Wearability): 디바이스가 사용자에게 얼마나 편안하게 착용되는지를 평가합니다.
- 상호작용성(Interactivity): 사용자와 디바이스 간의 상호작용이 얼마나 효율적이고 직관적인지를 측정합니다.
- 사용성(Usability): 디바이스의 기능이 사용자의 요구를 만족시키는 정도로, 실제 사용 환경에서의 편리성과 효율성을 평가합니다.

이 시스템을 통해 웨어러블 디바이스 제조업체들은 자신들의 제품이 시장에서 성공하기 위한 핵심 요소들을 개선할 수 있는 구체적인 피드백을 얻을 수 있습니다.
그리고 지속적인 성능 평가와 피드백은 웨어러블 디바이스 산업의 발전을 촉진하고, 더 나은 사용자 경험을 제공하는 데 기여할 것입니다.
      </pre>

      <div class="flex-shrink-0">
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="/new"
            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >시작하기!</a
          >
          <a
            href="/information"
            class="text-sm font-semibold leading-6 text-gray-900"
            >더 자세히 <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
