{% extends "layouts/default.html" %} {% block header %}
<header>
  <div class="mx-auto max-w-5xl sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1 flex items-center">
        <img class="h-12 w-12 mr-3" src="https://i.imgur.com/FATTjIB.png" />
        <h2
          class="text-3xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"
        >
          웨어러블 디바이스 성능 평가
        </h2>
      </div>
      <div class="mt-4 flex md:ml-4 md:mt-0"></div>
    </div>
  </div>

  <!--
  <div class="flex justify-center">
  <div class="mx-auto max-w-7xl">
      <h1
          class="text-center text-3xl font-bold leading-tight tracking-tight text-gray-900"
      >
          웨어러블 디바이스 성능 평가
      </h1>
      <div class="col-lg-6 mx-auto">

      </div>
  </div>
  </div>
  -->
</header>
{% endblock %}

<!-- content -->
{% block content %}
<script>
  function evaluate_device() {
    document.getElementById("editor-code").value =
      window.editor.state.doc.toString();

    const spin = document.getElementById("simulation-submit-spin");
    spin.classList.remove("hidden");
    const text = document.getElementById("simulation-submit-text");
    text.innerHTML = "평가 중";
  }
</script>

<main>
  <div class="py-10">
    <div class="mx-auto max-w-5xl sm:px-6 lg:px-8">
      <form hx-post="evaluate">
        <div class="space-y-6">
          <h2 class="text-lg font-semibold leading-7 text-gray-900">
            웨어러블 디바이스의 성능평가를 위해 다음을 선택하여 주세요.
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">
            다음 입력한 정보를 바탕으로 시뮬레이션을 실행하여 웨어러블
            디바이스의 사용성, 착용성, 상호작용성 평가를 합니다.
          </p>
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8">
            <div class="sm:col-span-3 my-2">
              <label
                for="body"
                class="block text-2xl font-medium leading-6 text-gray-900"
                >사람 ID 선택</label
              >
              <div class="mt-2">
                <select
                  id="body"
                  name="body"
                  autocomplete="body-name"
                  class="block w-full rounded-md border-0 px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                >
                  <option>body1</option>
                  <option>body2</option>
                  <option>body3</option>
                  <option>body4</option>
                  <option>body5</option>
                  <option>body6</option>
                  <option>body7</option>
                  <option>body8</option>
                </select>
              </div>
            </div>

            <div class="col-span-full my-2">
              <fieldset>
                <legend class="text-2xl font-semibold leading-6 text-gray-900">
                  디바이스 선택
                </legend>
                <p class="mt-1 text-sm leading-6 text-gray-600">
                  웨어러블 디바이스를 선택 하세요.
                </p>
                <div class="mt-6 space-y-3">
                  <div class="flex items-center gap-x-3">
                    <input
                      id="device-upper"
                      name="device"
                      type="radio"
                      value="upper"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      checked
                    />
                    <label
                      for="device"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >상지</label
                    >
                  </div>
                  <div class="flex items-center gap-x-3">
                    <input
                      id="device-lower"
                      name="device"
                      type="radio"
                      value="lower"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                    />
                    <label
                      for="device"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >하지</label
                    >
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="col-span-full my-2">
              <fieldset>
                <legend class="text-2xl font-semibold leading-6 text-gray-900">
                  동작 선택
                </legend>
                <p class="mt-1 text-sm leading-6 text-gray-600">
                  웨어러블 디바이스로 수행할 동작을 선택 하세요.
                </p>
                <div class="mt-6 space-y-3">
                  <div class="flex items-center gap-x-3">
                    <input
                      id="task-arm"
                      name="task"
                      type="radio"
                      value="arm"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      checked
                    />
                    <label
                      for="task"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >확장, 굴곡</label
                    >
                  </div>
                  <div class="flex items-center gap-x-3">
                    <input
                      id="task-gait"
                      name="task"
                      type="radio"
                      value="gait"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                    />
                    <label
                      for="task"
                      class="block text-sm font-medium leading-6 text-gray-900"
                      >7미터 걷기</label
                    >
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="col-span-full my-2">
              <legend class="text-2xl font-semibold leading-6 text-gray-900">
                웨어러블 디바이스 코드
              </legend>
              <p class="mt-1 mb-6 text-sm leading-6 text-gray-600">
                웨어러블 디바이스로 수행할 제어 코드를 작성 하세요.
              </p>

              <div class="m-1">
                <fieldset>
                  <div class="flex space-x-4">
                    <div class="flex items-center gap-x-3">
                      <input
                        id="code1"
                        name="code"
                        type="radio"
                        value="1"
                        class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                        checked
                      />
                      <label
                        for="code"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >제어 노드 #1</label
                      >
                    </div>
                    <div class="flex items-center gap-x-3">
                      <input
                        id="code2"
                        name="code"
                        type="radio"
                        value="2"
                        class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                      <label
                        for="code"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >제어 노드 #2</label
                      >
                    </div>
                    <div class="flex items-center gap-x-3">
                      <input
                        id="code3"
                        name="code"
                        type="radio"
                        value="3"
                        class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                      <label
                        for="code"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >제어 노드 #3</label
                      >
                    </div>
                  </div>
                </fieldset>
              </div>

              <div id="editor"></div>
              <input id="editor-code" type="hidden" name="editor" value="" />
            </div>

            <div class="col-span-full my-2 mx-auto">
              <button
                class="relative inline-flex items-center gap-x-1.5 rounded-md bg-blue-600 px-4 py-2 md:px-8 md:py-6 text-lg font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
                id="simulation-submit"
                type="submit"
                onclick="evaluate_device()"
              >
                <svg
                  id="simulation-submit-spin"
                  class="hidden htmx-indicator animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"
                  ></circle>
                  <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  ></path>
                </svg>
                <span id="simulation-submit-text" class="mr-2"> 평가 시작</span>
              </button>
              <div class="htmx-indicator mx-auto">
                <p class="mt-2 text-lg text-gray-500">
                  평가하는데 2분 걸립니다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

<script type="importmap">
  {
    "imports": {
      "@codemirror/": "https://deno.land/x/codemirror_esm@v6.0.1/esm/"
    }
  }
</script>
<script async type="module">
  import { basicSetup, EditorView } from "@codemirror/codemirror/dist/index.js";
  import { python } from "@codemirror/lang-python/dist/index.js";
  import { oneDark } from "@codemirror/theme-one-dark/dist/index.js";

  var codes = [
    `#1\n{{code0|safe}}`,
    `#2\n{{code1|safe}}`,
    `#3\n{{code2|safe}}`,
  ];

  const editor = new EditorView({
    doc: codes[0],
    extensions: [basicSetup, python(), oneDark],
    parent: document.querySelector("#editor"),
  });

  window.editor = editor;

  // code editor: add event listener to select code
  var codeElements = document.getElementsByName("example-code");
  for (var i = 0; i < codeElements.length; i++) {
    codeElements[i].code = codes[i];
    codeElements[i].addEventListener(
      "click",
      function (evt) {
        editor.dispatch({
          changes: {
            from: 0,
            to: editor.state.doc.length,
            insert: evt.currentTarget.code,
          },
        });
      },
      false,
    );
  }
</script>
{% endblock %}
